<h1 class="title" style="color: white;">About</h1>
<p style="color: whitesmoke;">School project by Camille Maurel.</p>
<p style="color: whitesmoke;">Aim of this project is to make a Streaming Website like <a href="https://www.spotify.com/">Spotify</a> or <a href="https://www.deezer.com/">Deezer</a></p>