<h1 class="title" style="color: white;">Contact</h1>
<p style="color: whitesmoke;">Email: camillemaurel.pro@icloud.com</p>
<p style="color: whitesmoke;">Github: <a href="https://github.com/MagnasiePro">MagnasiePro</a></p>