<div class="is-flex is-justify-content-center">
    <div class="card" style="width: 30vw">
        <header class="card-header">
            <p class="card-header-title">
                Welcome new user !
            </p>
        </header>
        <form class="card-content is-flex is-justify-content-space-between is-flex-direction-column" method="POST"
            action="/login/submit-registration" style="column-gap: 20px; padding: 5px 1em;">
            <input class="input" name="username" type="username" placeholder="Username">
            <input class="input" name="password" type="password" placeholder="Password">
            <input class="input" name="passwordVerif" type="password" placeholder="Retype password">
            <input type="submit" class="button is-success" style="padding-left: 3em; padding-right: 3em" />
        </form>
        <footer class="card-footer">
            <a href="/login" class="card-footer-item">I already have an account</a>
        </footer>
    </div>
</div>